@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

body {
    background-color: darkgreen;
    margin: 0;
    font-family: 'Creepster', cursive;
    box-sizing: border-box;
    color: yellow;
}

.hello {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hello h1 {

    font-size: 70px;
    color: yellow;
}

.round {
    display: flex;
    min-height: 5vh;
    flex-flow: column;
    justify-content: space-between ;
    align-items: center  ;
}

.round h2,h4{
    font-size: 25px;
    margin: 0;
}

.selections{
    display: flex;
    justify-content: center;
}
.selection{
    width:120px;
    height: 120px;
    font-size: 80px;
    border-radius: 10px;
    border: 2px solid yellow;
    margin: 20px;
    background-color: darkgreen;
}

.selection:hover {
    scale: 1.1;
}

.score{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-face {
    font-size: 60px;
    margin: 0;
}
.point{
    font-size: 40px;
    margin: 0;
}

.scc{
    font-size: 20px;
}

.computer, .user{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 20px 10%;
}
.result {
    text-align: center;
    font-size: 50px;
}